.app_name {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1868DB;
    padding-left: 1.5rem;
    margin-bottom: 2rem;
}

.sidebar {
    padding-top: 1.5rem;
    border-right: 1px solid rgba(128, 128, 128, 0.223);
    height: 100%;
    background-color: #FAFBFE;
}

.sidebar_menu_list {
    list-style: none;
    padding: 0;
}


.menuitem {
    background-color: #E9F1FE;
    color: #1868DB;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.menuitem:hover {
    background-color: #E9F1FE;
    color: #1868DB;
}

.menuitem:focus {
    border: none !important;
}

.menuname{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menuname:focus {
    border: none !important;
}


.menuname:hover {
    background-color: #E9F1FE;
    color: #1868DB;
}



.user_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.user_email {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    font-weight: 500;
}

/* .profile {
    width: 100%;
} */

.user_info {
    cursor: pointer;
    height: 100%;
    width: 95%;
    padding-left: 4px;
    border-radius: 5px;
}

.user_info:hover{
    background-color: rgba(128, 128, 128, 0.088) !important;
}

.dropup .toggle_btn::after {
    position: absolute;
    left: 120px;
    bottom: 15px;
}

.dropup_item {
    font-size: small;
    margin-bottom: 0.4rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding-left: 3px;
    display: flex;
    align-items: center;
}

.dropup_item:hover {
    background-color: rgba(154, 148, 148, 0.225);
}

.logout {
    font-size: smaller;
    font-weight: 500;
    margin-bottom: 0.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding-left: 3px;
}

.logout:hover {
    background-color: #FFE9EA;
}