.visit_card {
    border-color: rgba(128, 128, 128, 0.242);
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.main_col {
    width: 15rem;
    margin-bottom: 0.5rem;
}


.numbers {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.name {
    font-size:  x-small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.comparison {
    font-size: xx-small;
}

.task_logo {
    background-color: #E9F0FD;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: #1868DB;
}

.todo_logo {
    background-color: #F1EDFD;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: #7D3FFC;
}


.inprogress_logo {
    background-color: #FEF7E9;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: #FE9607;
}

.in_review_logo {
    background-color: #F2EDFE;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: #6527F6;
}

.complete_logo {
    background-color: #ECF9E9;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    color: #0FAB1C;
}