.board_table {
    border-radius: 20px !important;
    /* border: 1px solid #DCDCDC !important; */
}

.board_card {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

}

.board_table>thead,
.board_table>tbody>tr {
    border-bottom: 1px solid lightgray;
}

.board_table>tbody>tr:last-child {
    border: 0px solid white !important;
}

.board_table>thead>tr>th {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.05rem !important;
}

.project_name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.project_short_description {
    font-weight: 500;
    font-size: small;
}

.key_name {
    font-size: small;
    font-weight: 500;
}

.image {
    border-radius: 100%;
}

.status {
    background-color: #E8F0FE;
    color: #1A6BF8;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 0.5rem;
    font-size: small;
}

.tasks {
    font-size: smaller;
    font-weight: 500;
}

.time {
    font-size: small;
    font-weight: 500;
}

.action {
    padding: 0.3rem;
    cursor: pointer;
}

.pagination_detail {
    font-size: small;
    font-weight: 500;
}