.addproject_icon {
    background-color: #E6EDFD;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
    color: #3966F4;
}

.modal_name {
    font-weight: 600 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.modal_description {
    font-size: smaller;
    font-weight: 500;
}

.form_label {
    font-size: smaller;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input_field {
    height: 2rem;
}

.input_field:focus {
    box-shadow: none !important;
}

.description_input:focus{
    box-shadow: none !important;
}

.project_icon {
    /* background-color: red; */
    /* padding: 1rem; */
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    border: 2px solid #E6EDFD;
    border-radius: 0.5rem;
    cursor: pointer;
}

.project_preview_icon {
    background-color: #E2EBFE;
    color: #295BE9;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.3rem;
    padding-top: 0.8rem;
    border-radius: 0.5rem;
}

.project_name_demo {
    font-weight: 500;
    font-size: large;
}

.project_key_demo {
    background-color: #F2F4F8;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.1rem;
    padding-top: 0.01rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: gray;
}

.demo_options {
    font-size: small;
}

.project_preview_card {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    border: 2px solid #E6EDFD;
}

.dropdown {
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid #E6EDFD;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: samller !important;
    cursor: pointer;
}

.dropdown_toggle::after {
    margin-left: 8rem !important;
}

.dropdown_toggle_second::after {
    margin-left: 10rem !important;
}


.dropdown_toggle_third::after {
    margin-left: 15rem !important;
}

.dropdown_menu {
    position: relative !important;
    transform: translate3d(0px, 10px, 0px) !important;
    border: none !important;
}

.create_project_btn {
    background-color: #0138FD !important;
    color: white;
}

.cancel_btn {
    border: 2px solid #E6EDFD;
}

.cancel_btn:hover {
    border: 2px solid #E6EDFD;
    background-color: #E6EDFD;
    color: black;
}


.create_project_btn:hover {
    background-color: #032fce !important;
    color: white;
}

.privacy_type {
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project_type {
    font-size: small;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.type_description {
    font-size: x-small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.dropdown_item:hover {
    background-color: #F4F8FE !important;
    border: 1px solid #0E4AE3 !important;
    border-radius: 0.5rem;
}

.icon {
    -webkit-text-stroke: 0.5px;
}